<div class="main-subheader">
  <h2>Listado de categor&iacute;as</h2>
  <span>
    <a ui-sref="admin.categories_new" class="btn btn-success">Nueva categor&iacute;a</a>
  </span>
</div>
<table class="table" ng-controller="CategoryListCtrl">
  <tr>
    <th>Nombre</th>
    <th>Descripci&oacute;n</th>
    <th>Acciones</th>
  </tr>
  <tr ng-repeat="category in categories">
    <td>{{ category.name }}</td>
    <td>{{ category.description }}</td>
    <td class="list-actions">
      <a ui-sref="admin.categories_edit({ id: category.id })" class="glyphicon glyphicon-edit" title="Editar"></a>
      <a href="" ng-click="removeCategory(category)" class="glyphicon glyphicon-remove" title="Eliminar"></a>
    </td>
  </tr>
</table>

